@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-midnight text-white font-body antialiased;
}

body.donate-modal-open .site-header {
  opacity: 0;
  pointer-events: none;
}

::selection {
  @apply bg-primary text-white;
}

html,
body,
:root {
  height: 100%;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
